#List of patterns to ignore.
**/*0.f0*
**/*.fld*
**/logfile
**/*.sch
**/*.log*
**/nek5000
**/SESSION.NAME
**/*.nek5000
**/*.restart
**/*.eps
**/*.png
**/*.xml
**/*.bin
**/*.out
**/*.dat
**/*.re2
**/*.map
**/*.fort
**/*.mat
**/*.mp4
**/*.mpeg
**/*.mpg
**/*.avi
**/*.AVI

